{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-block-scoping",
    ["@babel/plugin-transform-classes", {"loose": true}],
    "@babel/plugin-transform-proto-to-assign",
    "@babel/plugin-proposal-function-bind"
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}